@charset "UTF-8";

body {
  margin: 0;
}

* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.material-icons {
  font-size: 30px;
  line-height:30px;
   display: inline-block;
}